/******************
 *  Soft Cricket  *
 *                *
 *  By Tal Liron  *
 ******************/

body {
	sbackground-color: #e0ffe0;
	background: url(../images/background.png); /* From: http://www.eosdev.com/Backgrounds/Back_Tilework/EosTilework2h.htm */
	font-family: Georgia, Palatino, 'Times New Roman', serif;
}

h1 {
	font-size: 20px;
}
h2 {
	font-size: 18px;
}
h3 {
	font-size: 14px;
	sfont-style: italic;
	line-height: 180%;
}
h4 {
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	line-height: 180%;
}

p {
	font-size: 14px;
	line-height: 180%;
}

div.hr {
  height: 57px;
  background-image: url(../images/ruler.png);
  background-repeat: no-repeat;
  background-position: center;
}

div.hr hr {
  display: none;
}

pre {
	border: 1px dashed black;
	padding: 10px 10px 10px 10px;
}

.note {
	border: 1px dotted black;
	padding: 3px 10px 3px 10px;
}

.tutorial {
	border: 1px solid black;
	padding: 3px 10px 3px 10px;
}


/* Hyperlinks */

a {
	text-decoration: none;
}

a:link {
	color: #b22222;
}
a:visited {
	color: #b22222;
}
a:hover {
	background-color: #ffffa0;
}
a:active {
}

a.neutral:hover {
	background-color: transparent;
}

.result {
	width: 200px;
	overflow: auto;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/* Navigation Menu */

/* Adapted from: http://css.maxdesign.com.au/listamatic2/vertical07.htm */

div.navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: verdana, arial, sans-serif;
}

div.navigation li {
	margin: 0;
}

div.navigation a, div.navigation .heading {
	display: block;
	color: #333;
	background-color: transparent;
	width: 200px;
	padding: 2px 10px;
	text-decoration: none;
	border-left: 1px solid #AF868E;
	border-top: 1px solid #AF868E;
	font-size: 12px;
}

div.navigation .heading {
	font-style: italic;
}

div.navigation .closed, div.navigation .heading {
	border-bottom: 1px solid #AF868E;
}

div.navigation a:hover {
	background-color: #ffffa0;
	border-right: 10px solid #AF868E;
	padding: 2px 1px 2px 10px;
}

div.navigation ul ul {
	margin-left: 30px;
	padding: 0;
	list-style-type: none;
}

div.navigation li li a {
	display: block;
	color: #333;
	background-color: transparent;
	width: 170px;
	padding: 2px 10px;
	margin: 0;
	border-top: none;
	border-bottom: none;
	border-left: 1px solid #AF868E;
	text-decoration: none;
	font-size: 12px;
}